.card {
    flex-basis: 200px;
    position: relative;
    margin: 10px;
    margin-left: 0px;
}
.card .card-header {
    color: white;
    background: #9fa8da;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
}
.card .card-content {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    align-content: baseline;
    border: 1px solid;
    border: 1px solid #69696926;
    border-top: none;
}
.card .card-content.empty{
    background: #cad1d591;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    align-content: center;
    color: #a79e9e;
    font-family: emoji !important;
}
.card .card-content.empty div{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: inherit;
    line-height: 0.8;
    justify-content: center;
    font-weight: 600;
}

.card .person {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
}
.person.person-0 {
    background: #1e567291;
}
.person.person-1 {
    background: #9ddd54;
}
.person.person-2 {
    background: #EF9A9A;
}
.person.person-3 {
    background: powderblue;
}
.person.person-4 {
    background: #FF7043;
}
.person.person-5 {
    background: #1565C0;
}
.person.person-6 {
    background: #F48FB1;
}
.person.person-7 {
    background: #81D4FA;
}
.person.person-8 {
    background: #FFCA28;
}

.card .footer {
    margin-top: 1rem;
    font-weight: 600;
}